# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [7]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine
from pathlib import Path

In [9]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")

In [157]:
# Loading transaction data into the dataframe

query = """
        SELECT t.id as transaction_id, ch.id as card_holder_id, date, amount, cc.card, m.name as merchant_name, mc.name as merchant_category, ch.name as card_holder_name 
        FROM transaction t 
            INNER JOIN merchant m ON t.id_merchant = m.id
            INNER JOIN merchant_category mc ON m.id_merchant_category = mc.id
            INNER JOIN credit_card cc ON t.card = cc.card
            INNER JOIN card_holder ch ON cc.cardholder_id = ch.id
        ;
        """
transaction_df = pd.read_sql(query, engine)

In [158]:
# Function to select n random items from a list
def get_random(data, n):
    return random.sample(data.values.tolist(), n)

In [159]:
# Write function that locates outliers using standard deviation
# This function takes as parameters the dataframe, the numeric column, and the number of sigma
def std_outliers(data, variable, sigma):
    mean = data[variable].mean()
    #residual = data[variable] - avg
    #std = residual.std()
    std = data[variable].std()
    #outliers = (np.abs(residual) > std * sigma)
    outliers = data.loc[(np.abs(data[variable] - mean) > std * sigma)]
    return outliers

In [160]:
# Find anomalous transactions for 3 random card holders
ch_id = get_random(transaction_df["card_holder_id"], 3)  # get 3 random card holder IDs

# Slice the dataframe for those 3 IDs
cardholder_transaction = transaction_df.loc[transaction_df['card_holder_id'].isin(ch_id)]

# Get the anomalous transactions (outliers) for the 3 random card holders using 3 standard deviations
anomalous_transactions_std = std_outliers(cardholder_transaction, 'amount', 3)
display(anomalous_transactions_std)

,transaction_id,card_holder_id,date,amount,card,merchant_name,merchant_category,card_holder_name
27,2650,7,2018-01-04 03:05:18,1685.0,3516952396080247,"Kelly, Dyer and Schmitt",food truck,Sean Taylor
484,1480,7,2018-02-19 16:00:43,1072.0,3516952396080247,"Davis, Lowe and Baxter",food truck,Sean Taylor
1079,1827,7,2018-04-18 23:23:29,1086.0,3516952396080247,Smith-Stephens,coffee shop,Sean Taylor
2142,1424,7,2018-08-07 11:07:32,1449.0,3516952396080247,"Richardson, Smith and Jordan",food truck,Sean Taylor
3327,2945,7,2018-12-13 15:51:59,2249.0,3516952396080247,Solis Group,food truck,Sean Taylor
3379,1318,7,2018-12-18 17:20:33,1296.0,3516952396080247,Griffin-Woodard,bar,Sean Taylor

## Identifying Outliers Using Interquartile Range

In [161]:
# Write a function that locates outliers using interquartile range
def iqr_outlier(data, variable):
    # find q1 and q3 values
    q1, q3 = np.percentile(sorted(data[variable]), [25, 75])
 
    # compute IQR
    iqr = q3 - q1
 
    # find lower and upper bounds
    lower_bound = q1 - (1.50 * iqr)
    upper_bound = q3 + (1.50 * iqr)
    
    outliers = data.loc[(data[variable] <= lower_bound) | (data[variable] >= upper_bound)]
  
    return outliers

In [163]:
# Find anomalous transactions for 3 random card holders

# Get 3 random card holder IDs
ch_id = get_random(transaction_df["card_holder_id"], 3)

# Slice dataframe for those 3 random IDs
df = transaction_df.loc[transaction_df['card_holder_id'].isin(ch_id)]

# Find corresponding anomalous transactions using interquartile
outliers = iqr_outlier(df, 'amount')
display(outliers)

,transaction_id,card_holder_id,date,amount,card,merchant_name,merchant_category,card_holder_name
296,1415,25,2018-01-30 18:31:00,1177.0,4319653513507,"Cline, Myers and Strong",restaurant,Nancy Contreras
636,2840,25,2018-03-06 07:18:09,1334.0,4319653513507,Griffin-Woodard,bar,Nancy Contreras
911,774,25,2018-04-01 07:17:21,100.0,4319653513507,Padilla-Clements,coffee shop,Nancy Contreras
960,1341,25,2018-04-08 06:03:50,1063.0,4319653513507,"Bryant, Thomas and Collins",pub,Nancy Contreras
982,329,25,2018-04-09 18:28:25,269.0,4319653513507,Hamilton-Mcfarland,restaurant,Nancy Contreras
1306,1377,25,2018-05-13 06:31:20,1046.0,4319653513507,Baker Inc,food truck,Nancy Contreras
1510,1790,25,2018-06-04 03:46:15,1162.0,4319653513507,Johnson-Fuller,pub,Nancy Contreras
1541,224,25,2018-06-06 21:50:17,749.0,4319653513507,Hamilton-Mcfarland,restaurant,Nancy Contreras
1684,2582,25,2018-06-22 06:16:50,1813.0,4319653513507,"Cox, Montgomery and Morgan",bar,Nancy Contreras
2223,1877,25,2018-08-16 10:01:00,1001.0,4319653513507,"Vega, Jones and Castro",food truck,Nancy Contreras
2902,2051,25,2018-10-28 02:12:58,137.0,4319653513507,"Bryant, Thomas and Collins",pub,Nancy Contreras
3375,1863,25,2018-12-18 13:33:37,1074.0,4319653513507,"Maxwell, Tapia and Villanueva",coffee shop,Nancy Contreras